*.pdf filter=lfs diff=lfs merge=lfs -text
*.key filter=lfs diff=lfs merge=lfs -text
docs/HARDENS.pdf filter=lfs diff=lfs merge=lfs -text
docs/HARDENS_SPSQ_IWG_May_2023.pdf filter=lfs diff=lfs merge=lfs -text
docs/RFP.pdf filter=lfs diff=lfs merge=lfs -text
docs/Halden_Galois_Kiniry_21-April-2022.pdf filter=lfs diff=lfs merge=lfs -text
docs/HARDENS_Final_Report_Jan_2023.pdf filter=lfs diff=lfs merge=lfs -text
docs/HARDENS_Galois_Explaining_RDE_by_Example_May_2022.pdf filter=lfs diff=lfs merge=lfs -text
docs/HARDENS_HCSS_May_2022.pdf filter=lfs diff=lfs merge=lfs -text
docs/HARDENS_NRC_Oct_2022.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_6_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_23_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/FPGA-TN-02205-1-2-ECP5-and-ECP5-5G-sysDSP-Usage-Guide.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Updated-NRC-table-1.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/instrumentation_architecture.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_25_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/HB1012.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/FPGA-TN-02035-1-3-ECP5-ECP5-5G-HighSpeed-IO-Interface.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Implementation.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_29_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_21_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/FPGATN02050ProgrammingExtSPIFlashJTAGECP55G.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/FPGA-TN-02203-1-7-LatticeECP3-LatticeECP2-M-ECP5-and-ECP5-5G-Dual-Boot-and-Multiple-Boot-Feature.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/FPGA-TN-02084-2-2-Using-TraceID.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/PB1384_ECP5_Errata-SED_wDistiRAM.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Hardware_Architecture.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Generation.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_11_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/fpga-ug-02042-26-4-programming_cables.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/System_Architecture.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Updated-instrumentation_architecture.pdf filter=lfs diff=lfs merge=lfs -text
hardware/SoC/bsc-contrib/build/bsvlib/AMBA_TLM2/Axi/Axi.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_31_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/ECP5ProductBrochure.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/PCN04A-17ECP5andECP5-5GDataSheetUpdate.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/TN1266.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Validation_and_Verification.pdf filter=lfs diff=lfs merge=lfs -text
hardware/SoC/bsc-contrib/Libraries/AMBA_TLM2/TLM/TLM.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_4_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_19_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/PCN_02A16_ECP5_updates_on_D3_7.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_27_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_13_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/107439.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Gantt_chart.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Updated-Hardware_Architecture.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_9_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_2_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Updated-Validation_and_Verification.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/NRC-table-1.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/FPGA-TN-02200-1-2-ECP5-and-ECP5-5G-sysCLOCK-PLL-DLL-Design-and-Usage-Guide.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/white_papers/EnablingProgrammableConnectivitySolutionsforCompactHighVolumeApplications.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_17_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/sysml_figures/output_15_0.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/EnablingProgrammableConnectivitySolutionsforCompactHighVolumeApplications.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/fpga-eb-02017-1-2-ecp5-evaluation-board.pdf filter=lfs diff=lfs merge=lfs -text
hardware/SoC/bsc-contrib/build/bsvlib/AMBA_TLM2/TLM/TLM.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/qs045_ecp5_evalboard.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/FPGA-TN-02032-1-3-ECP5-ECP5G-sysIO-Usage-Guide.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/FPGA-TN-02204-1-4-ECP5-and-ECP5-5G-Memory-Usage-Guide.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Updated-NRC-gantt-chart.pdf filter=lfs diff=lfs merge=lfs -text
hardware/SoC/bsc-contrib/Libraries/AMBA_TLM2/AHB/AHB.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/ecp5_eval_flash_instructions.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/FPGA-TN-02039-2-0-ECP5-and-ECP5-5G-sysCONFIG.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Updated-Implementation.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/FPGA-DS-02012-2-6-ECP5-ECP5G-Family-Data-Sheet.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/FPGA-TN-02206-1-3-ECP5-and-ECP5-5G-SerDes-PCS-Usage-Guide.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/NRC-gantt-chart.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Updated-System_Architecture.pdf filter=lfs diff=lfs merge=lfs -text
hardware/SoC/bsc-contrib/Libraries/AMBA_TLM2/Axi/Axi.pdf filter=lfs diff=lfs merge=lfs -text
docs/ECP-5/docs/FPGA-TN-02038-1-6-ECP5-and-ECP5-5G-Hardware-Checklist.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/sieve-ta1_2-gantt-chart.pdf filter=lfs diff=lfs merge=lfs -text
docs/figures/Updated-Specifications.pdf filter=lfs diff=lfs merge=lfs -text
docs/HARDENS_NRC_Oct_2022.key filter=lfs diff=lfs merge=lfs -text
docs/Halden_Galois_Kiniry_21-April-2022.key filter=lfs diff=lfs merge=lfs -text
docs/HARDENS_SPSQ_IWG_May_2023.key filter=lfs diff=lfs merge=lfs -text
docs/HARDENS.key filter=lfs diff=lfs merge=lfs -text
docs/HARDENS_HCSS_May_2022.key filter=lfs diff=lfs merge=lfs -text
