*/#*#
*/.*
*.o
*.a
*.bc
*.ll
*.elf
*.asm
.vscode
src/wp-session/
src/generated/SystemVerilog/verilator/
src/handwritten/SystemVerilog/verilator/
src/self_test_data/
src/rts*
saw/*.v
Assurance.pdf
README.pdf
Toolchain.pdf
Specifications.pdf
hardware/SoC/design.*
tests/__pycache__/
