LOCATE COMP "CLK" SITE "A10";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 12 MHZ;

LOCATE COMP "RST_N" SITE "P4";
IOBUF PORT "RST_N" IO_TYPE=LVCMOS33;

LOCATE COMP "rg_gpio[0]" SITE "A13";
LOCATE COMP "rg_gpio[1]" SITE "A12";
LOCATE COMP "rg_gpio[2]" SITE "B19";
LOCATE COMP "rg_gpio[3]" SITE "A18";
LOCATE COMP "rg_gpio[4]" SITE "B18";
LOCATE COMP "rg_gpio[5]" SITE "C17";
LOCATE COMP "rg_gpio[6]" SITE "A17";
LOCATE COMP "rg_gpio[7]" SITE "B17";

IOBUF PORT "rg_gpio[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "rg_gpio[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "rg_gpio[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "rg_gpio[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "rg_gpio[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "rg_gpio[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "rg_gpio[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "rg_gpio[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "sout" SITE "D15";
LOCATE COMP "sin" SITE "B15";

IOBUF PORT "sout" IO_TYPE=LVCMOS33;
IOBUF PORT "sin" IO_TYPE=LVCMOS33;

LOCATE COMP "CLK_PLL" SITE "A19";
IOBUF PORT "CLK_PLL" IO_TYPE=LVCMOS25;