BLOCK RESETPATHS ;
BLOCK JTAGPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLK" SITE "A10" ;
LOCATE COMP "LEDG_N" SITE "A17" ;
LOCATE COMP "LEDR_N" SITE "C17" ;
LOCATE COMP "LED5" SITE "B18" ;
LOCATE COMP "LED4" SITE "A18" ;
LOCATE COMP "LED3" SITE "B19" ;
LOCATE COMP "LED2" SITE "A12" ;
LOCATE COMP "LED1" SITE "A13" ;

IOBUF PORT "clk_x1" IO_TYPE=LVCMOS33 ;