LOCATE COMP "clkin" SITE "A10";
IOBUF PORT "clkin" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clkin" 12 MHZ;

LOCATE COMP "RST_N" SITE "P4";
IOBUF PORT "RST_N" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[0]" SITE "A13";
LOCATE COMP "leds[1]" SITE "A12";
LOCATE COMP "leds[2]" SITE "B19";
LOCATE COMP "leds[3]" SITE "A18";
LOCATE COMP "leds[4]" SITE "B18";
LOCATE COMP "leds[5]" SITE "C17";
LOCATE COMP "leds[6]" SITE "A17";
LOCATE COMP "leds[7]" SITE "B17";

IOBUF PORT "leds[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "uart_tx" SITE "F20";
LOCATE COMP "uart_rx" SITE "F19";

IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "clkout" SITE "A19";
IOBUF PORT "clkout" IO_TYPE=LVCMOS25;